.sidebar {
  background-color: #3D4142;
  width: 15%;
  height: 100%;
  vertical-align: top;
  margin: 0;
  float: left;

  @include breakpoint($ty-screen) {
    width: 10%;
  }

  @include breakpoint($sm-screen) {
    width: 30%;
  }
}

.header-logo {
  width: 70%;
  height: 76px;
  margin: 5px 15%;
  background-image: url(/fridgemonit-white.png);
  background-size: 400% 100%;

  @include breakpoint($sm-screen) {
    margin: 15px 15%;
    height: 140px;
    background-size: 100% 100%;
  }
}

.sidebar-body {
  margin: 3.5rem 0 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 25%;
    width: 50%;
    height: 2px;
    background-color: $color-darkblack;
  }
}

.sidebar-button {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 15px 15%;
  font-weight: bold;
  color: $color-offwhite;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.6px;

  &:hover {
    background-color: $color-darkblack;
    color: $color-brand;
  }

  &.is-active {
    color: $color-black;
    background-color: $color-brand;

    &::after {
      display: block;
    }

    i {
      color: $color-black;
    }
  }

  &::after {
    display: none;
    content: '';
    position: absolute;
    right: -20px;
    top: 0;
    height: 100%;
    width: 20px;
    border-left: 10px solid $color-brand;
    border-right: 10px solid transparent;
    border-top: 24px solid transparent;
    border-bottom: 25px solid transparent;
    box-sizing: border-box;
  }

  i {
    font-size: 1.8rem;
    color: $color-brand;
    margin: 0 15px 0 0;
    vertical-align: middle;

    @include breakpoint(0 $sm-screen) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}

.sidebar-button-text {
  display: none;

  @include breakpoint($sm-screen) {
    display: inline;
  }
}