// brand blue
$color-brand: #00ccff;
$color-brand-dark: #009dc8;
$color-brand-darker: darken(#009dc8,15%);

// grays from light to dark
$color-white: #fff;
$color-black: #3D4142;
$color-darkblack: #2A2D2E;
$color-offwhite: #f4f4f4;
$color-grayscale-0: #e0e0e0;
$color-grayscale-1: #d9d9d9;
$color-grayscale-2: #797979;
$color-grayscale-3: #595959;
$color-grayscale-4: #393939;
$color-grayscale-5: #292929;
$color-grayscale-6: #191919;
// brand tertiary colors
$color-tertiary-1: #02688d; // muted blue
$color-tertiary-2: #ff6840; // bright orange
$color-tertiary-3: #b63a2b; // muted orange
$color-tertiary-4: #693123; // brown
$color-tertiary-5: #8cda00; // bright green
$color-tertiary-6: #75bb00; // muted green
$color-tertiary-7: #ff196b; // bright pink
$color-tertiary-8: #ef4037; // bright red
$color-tertiary-9: #f9ec1e; // yellow
$color-tertiary-10: #fec10e; // warning yellow